.trainings-title{
  font-family: Montserrat; /* Heading */
  font-size: 56px; 
  font-weight: 700; 
  line-height: 78px; 
  color: #171A1FFF;
}
.tr-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 404px);
}