.default-button{
  min-width: 155px; 
  max-width: 280px;
  width: 100%;
  height: 44px; 
  padding: 0 16px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Poppins; /* Body */
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #FFFFFFFF; /* white */
  background: #6355D8FF; /* primary-500 */
  opacity: 1; 
  border: none; 
  border-radius: 6px;
}
.default-button:hover{
  color: #FFFFFFFF; /* white */
  background: #4D3ED3FF;
}
.default-button:hover:active {
  color: #FFFFFFFF; /* white */
  background: #3D2DC7FF; /* primary-600 */
}
.default-button:disabled {
  opacity: 0.4; 
}

.type-button{
  height: 36px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Poppins; /* Body */
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #6355D8FF; /* primary-500 */
  background: #00000000; /* transparent */
  opacity: 1; 
  border: none; 
  border-radius: 6px;
}
.type-button:hover{
  color: #6355D8FF; /* primary-500 */
  background: #E1DFF8FF;
}
.type-button:hover:active{
  color: #6355D8FF; /* primary-500 */
  background: #CFCBF3FF;
}