.register-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px 0px;
}
.input-title{
  font-size: 14px; 
  font-weight: 700; 
  line-height: 22px; 
}
.form-inputs{
  display: flex;
  flex-direction: column;
}