.sidebar {
  position: fixed;
  top: 0;
  right: -300px; /* Inicialmente oculto fuera del borde derecho */
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  color: #fff;
  transition: right 0.3s ease; /* Transición suave de la propiedad right */
  padding-top: 64px;
}

.sidebar.open {
  right: 0; /* Abierto, visible en la pantalla */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}
